* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: rgb(34, 34, 34);
}
:root {
    --headerHeight: 150px;
}


body, html {
    height: 100%;
    width: 100%;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    background-color: inherit;
}

.header {
    width: 100%;
    height: var(--headerHeight);
    background-color: rgb(51, 73, 170);
    display: flex;
    text-align: center;
    /*line-height: var(--headerHeight);*/
}
h1 {
    margin: auto;
    background-color: inherit;
}
img {
    height: 40px;
    vertical-align: text-top;
    background-color: inherit;
    margin-right: 5px;
}

.content {
    display: block;
    width: 100%;
    height: calc(100% - var(--headerHeight) - 30px);
    text-align: center;
    padding-top: 30px;
    overflow: auto;
}
ul {
    max-width: 980px;
    display: inline-block;
}
li {
    display: inline-flex;
    width: calc(100% - 80px);
    margin: 20px;
    max-width: 400px;
    min-height: 50px;
    background-color: rgb(48, 48, 48);
    padding: 5px 20px;
    border-bottom: 3px solid rgb(85, 116, 255);
    border-radius: 3px;
}
li:hover {
    background-color: rgb(85, 116, 255);
    transition: 300ms;
    cursor: pointer;
}
a {
    margin: auto;
    text-align: center;
}


.creditsBut {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    z-index: 2;
}
.creditsBut:hover {
    background-color: white;
    color: rgb(34, 34, 34);
    cursor: pointer;
    transition: 300ms;
}
#credits {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.85);
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#credits p {
    background-color: rgb(34, 34, 34);
    margin: auto;
    padding: 50px;
    border: 3px solid rgb(85, 116, 255);
    border-radius: 7px;
}


@media screen and (max-width: 969px) {
    :root {
        --headerHeight: 80px;
    }
}