/*--- GENERAL STYLE ---*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: rgb(34, 34, 34);
}
:root {
    --headerHeight: 150px;
}
body, html {
    height: 100%;
    width: 100%;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    background-color: inherit;
}


/*--- TOP BAR ---*/
.header {
    width: 100%;
    height: var(--headerHeight);
    background-color: rgb(51, 73, 170);
    display: flex;
    text-align: center;
}
h1 {
    margin: auto;
    background-color: inherit;
}
img {
    height: 40px;
    vertical-align: text-top;
    background-color: inherit;
    margin-right: 5px;
}


/*--- MENU ---*/
.content {
    display: block;
    width: 100%;
    height: calc(100% - var(--headerHeight) - 30px);
    padding-top: 10px;
    overflow-y: auto;
}
ul {
    display: block;
    max-width: 980px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
li {
    display: inline-block;
    min-height: 68px;
    max-width: 400px;
    width: calc(100% - 40px);
    height: max-content;
    vertical-align: top;
    margin: 20px;
    background-color: rgb(48, 48, 48);
    border-bottom: 3px solid rgb(85, 116, 255);
    border-radius: 3px;
}
a {
    display: flex;
    box-sizing: border-box;
    min-height: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px 20px;
}
li>a:hover {
    background-color: rgb(85, 116, 255);
    transition: 300ms;
}


/*--- CREDITI ---*/
.creditsBut {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    z-index: 2;
}
.creditsBut:hover {
    background-color: white;
    color: rgb(34, 34, 34);
    cursor: pointer;
    transition: 300ms;
}
#credits {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.85);
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#credits p {
    background-color: rgb(34, 34, 34);
    margin: auto;
    padding: 50px;
    border: 2px solid rgb(85, 116, 255);
    border-radius: 7px;
}


/*--- RIDUZIONE HEADER SCHERMI PICCOLI ---*/
@media screen and (max-width: 890px) {
    :root {
        --headerHeight: 80px;
    }
}


/*--- STILE SCROLLBAR ---*/
::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
    border-radius:0px;
}
::-webkit-scrollbar-thumb {
    background: rgb(48, 48, 48);
    border-radius:0px;
}