* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: rgb(34, 34, 34);
}
:root {
    --headerHeight: 150px;
}
body, html {
    height: 100%;
    width: 100%;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    background-color: inherit;
}


/*--- INIZIO STILE DELL'HEADER ---*/
.header {
    width: 100%;
    height: var(--headerHeight);
    background-color: rgb(51, 73, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: auto;
    background-color: inherit;
}
img {
    height: 40px;
    vertical-align: text-top;
    background-color: inherit;
    margin-right: 5px;
}


/*--- INIZIO STILE DEL CONTENT ---*/
.content {
    display: flex;
    width: calc(100% - 2 * 20px);
    height: calc(100% - 2 * 20px - var(--headerHeight));
    padding: 20px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}
.content img {
    height: 60%;
    max-height: 200px;
}


/*--- RIDUZIONE HEADER SCHERMI PICCOLI ---*/
@media screen and (max-width: 969px) {
    :root {
        --headerHeight: 80px;
    }
}


/*--- STILE SCROLLBAR ---*/
::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
    border-radius:0px;
}
::-webkit-scrollbar-thumb {
    background: rgb(48, 48, 48);
    border-radius:0px;
}